<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="https://s3.tradingview.com/userpics/3852993-zi9K_orig.png">
    <title>{% block title %}{% endblock %} - Calory Counter</title>
    {% endblock %} 
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="background-color: aliceblue; font-size: 120%; font-weight: bold;">
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
