{% extends "base.html" %} 

{% block title %}Main Page{% endblock %} 

{% block head %} 
  {{ super() }} 
{% endblock %} 

{% block content %}
<div class="p-5">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h1>Daily tracker</h1>
    </div>
  </div>
  <div class="row">
    <div class="mb-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-4 text-center">
      <button onclick="location.href = 'products'" id="myButton" class="btn btn-primary btn-floating btn-lg" style="scale: 1.5;">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Produse</button>
    </div>
  </div>
  <div class="row">
    <div class="mb-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-4 text-center">
      <button onclick="location.href = 'daily?user=Titi'" id="myButton" class="btn btn-danger btn-floating btn-lg" style="scale: 1.5;">
        Evidenta zilnica (Titi)&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="mb-4"></div>
  </div>
  <div class="row" >
    <div class="col-sm-6 mb-4 text-center">
      <button onclick="location.href = 'daily?user=Inci'" id="myButton" class="btn btn-floating btn-lg" style="background-color: orange; color: white; scale:1.5;" >
        Evidenta zilnica (Inci)&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
{% endblock %}
