{% extends "base.html" %} 

{% block title %}Products{% endblock %} 

{% block head %} 
  {{ super() }}
{% endblock %} 

{% block content %}

<div class="p-5">
    <h1>Produse disponibile</h1>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modifica:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="product-name" class="col-form-label">Nume:</label>
                      <input type="text" class="form-control" id="product-name">
                    </div>
                    <div class="form-group">
                      <label for="product-calories" class="col-form-label">Calorii:</label>
                      <input type="text" class="form-control" id="product-calories"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="product-protein" class="col-form-label">Proteine:</label>
                        <input type="text" class="form-control" id="product-protein"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="product-fats" class="col-form-label">Lipide:</label>
                        <input type="text" class="form-control" id="product-fats"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="product-carbs" class="col-form-label">Carbohidrati:</label>
                        <input type="text" class="form-control" id="product-carbs"></textarea>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                  <button type="button" class="btn btn-primary">Modifica</button>
                </div>
              </div>
            </div>
          </div>

          <script type="text/javascript">
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('name') // Extract info from data-* attributes
                
                console.log(recipient)
                var modal = $(this)
                modal.find('.modal-title').text('Modifica: ' + recipient)
                modal.find('.modal-body input').val(recipient)
              })
          </script>

    {% from 'bootstrap4/nav.html' import render_nav_item %}

    <div class="mb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('main', 'Inapoi') }}
            </div>
        </nav>
    </div>

    <div class="mb-4">
        {%if success_message %}
        <div class="alert alert-success" role="alert">
            {{success_message}}
        </div>
        {% endif %}
        {%if error_message %}
        <div class="alert alert-danger" role="alert">
            {{error_message}}
        </div>
        {% endif %}
    </div>

    <div class="mb-4">
        <table class="table table-striped w-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Nume</th>
                    <th scope="col">Calorii</th>
                    <th scope="col">Proteine</th>
                    <th scope="col">Lipide</th>
                    <th scope="col">Carbo</th>
                    <th scope="col">Operatii</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <td style="text-align: left">{{product.calories}}</td>
                    <td style="text-align: center">{{product.protein}}</td>
                    <td style="text-align: center">{{product.fats}}</td>
                    <td style="text-align: center">{{product.carbs}}</td>
                    <td>
                        <button type="button" class="btn btn-danger px-3" onclick="window.location='remove_product?name={{ product.name}}';">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" class="btn btn-primary px-3" data-toggle="modal" data-target="#exampleModal" data-name="{{product.name}}">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>
    <h3>Adauga produs nou</h3>
    <div class="row">
        <div class="col-sm-4">
            <form action="add_product" method="POST">
                <div class="form-outline mb-4">
                    <input type="text" name="name" class="form-control" placeholder="Nume produs" />
                </div>          
                <div class="form-outline mb-4">
                    <input type="text" name="calories" class="form-control" placeholder="Calorii"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="protein" class="form-control" placeholder="Proteine"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="fats" class="form-control" placeholder="Grasimi"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="carbs" class="form-control" placeholder="Carbohidrati"/>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Adauga"></button>
            </form>
        </div>
        <div class="col-sm-8"></div>
    </div>
</div>

<!-- {% if message != None %}
<script type="text/javascript">
    alert('{{ message }}');
</script>
{% endif %}
{% endblock %} -->